/*base.css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}
html{
    font-size: 14px;
}
html,body{
    font-family: "microsoft yahei";
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}
ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: #666;
}
a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #666;
}
s,
i{
    text-decoration: none;
}
input,
button {
    border: none;
    outline-style: none;
}
/*清除浮动*/
.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}
.fl {
    float: left;
}
.fr {
    float: right;
}

/*基本样式*/
.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body{
    border-top:none;
    padding: 8px 15px;
    line-height: 24px;
}


/*使用rem为基本单位进行页面的展示；*/
.Med-panel{
    margin-bottom: 5px;
}
#bingshi01 .Med-picture{
    display: inline-block;
}
.modal .Med-close{
    color: white;
    font-size: 30px;
}

.panel-info{
    border-color: #6F83FF;
}
.panel-info>.panel-heading {
    color: #6F83FF;
    background-color: #fff;
    border-color: #6F83FF;
}